@model IEnumerable<PTAData.Entities.CommitteePost>

@if (Model != null && Model.Count() > 0)
{
    <h2>Breaking News</h2>
    foreach (var post in Model)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a style="color:white" data-toggle="collapse" data-parent="accordionPosts" href="#collapse@(post.PostId)">
                    <h4 style="color:white" class="panel-title">
                        @post.PostTitle - @post.Committee.CommitteeName
                    </h4>
                </a>
            </div>

            <div id="collapse@(post.PostId)" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>@post.PostBody</p>

                    @if (post.Files != null && post.Files.Any())
                    {
                        <br />
                        <div class="display-label">Attachments</div>
                        foreach (var file in post.Files)
                        {
                            <a href="@file.Path.Replace("~", String.Empty)">@file.FileName</a>
                        }
                    }
                </div>
            </div>
        </div>
    }

}
