@model HickoryPTAApp.Models.NavigationViewModel

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img class="" style="max-height:34px; max-width:100px; margin-top: -7px;" src="~/Content/images/squirrel-small.gif" />
                Hickory PTA
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Committees
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu columns" role="menu">
                    @foreach (var item in Model.NavigationCommittees)
                    {
                        <li>
                            @Html.ActionLink(item.CommitteeName, "Pages", "Committees", new { id = item.CommitteeId }, null)
                        </li>
                    }
                    </ul>
                </li>

                @if (User.IsInRole(HickoryPTAApp.Models.AdminConstants.Roles.Administrator))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            @*<li>@Html.ActionLink("Roles", "Roles", "Admin")</li>*@
                            <li>@Html.ActionLink("Users", "Index", "Members")</li>
                            <li>@Html.ActionLink("Users and Roles", "Users", "Admin")</li>
                            <li>@Html.ActionLink("Committees", "Index", "Committees")</li>
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>