@model HickoryPTAApp.Models.AdminRolesViewModel

@{
    ViewBag.Title = "Roles";
}

<h2>@ViewBag.Title</h2>

<table class="table">


    @foreach (var item in Model.Roles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@using (Html.BeginHorizontalForm())
{
    @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="col-md-12">
                New Role Name
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewRoleName)
                @Html.ValidationMessageFor(model => model.NewRoleName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
}
