@model PTAData.Entities.CommitteePost

<fieldset>
    <legend>@Html.ActionLink(Model.Committee.CommitteeName, "Pages", "Committees", new { id = Model.Committee.CommitteeId }, null) Post</legend>
    <h3 class="display-field">@Model.PostTitle</h3>
    <br />
    <div class="display-label">Description</div>
    <div class="display-field">@Model.PostBody</div>
    @if (Model.Files != null && Model.Files.Any())
    {
        <br />
        <div class="display-label">Attachments</div>
        foreach (var file in Model.Files)
        {
            <a href="@file.Path.Replace("~", String.Empty)">@file.FileName</a>
        }
    }


</fieldset>
