@model PTAData.Entities.CommitteeEvent

<fieldset>
    <legend>@Html.ActionLink(Model.Committee.CommitteeName, "Pages", "Committees", new { id = Model.Committee.CommitteeId }, null) Event</legend>
    <h3 class="display-field">@Model.PostTitle</h3>
    @if (Model.Location != null)
    {
        <div class="display-label">Location</div>
        <div class="display-field">@Model.Location.Name</div>
        if (Model.Location.Address != null && !String.IsNullOrEmpty(Model.Location.Address.StreetAddress))
        {
            <div class="display-field">@Model.Location.Address.StreetAddress</div>
        }
        if (Model.Location.Address != null && !String.IsNullOrEmpty(Model.Location.Address.City))
        {
            <div class="display-field">@Model.Location.Address.City, @Model.Location.Address.State  @Model.Location.Address.Zip</div>    
        }
    }
    <br />
    <div class="display-label">Date</div>
    <div class="display-field">@Model.DateString()</div>
    <br />
    @if (!Model.DateOnly())
    { 
        <div class="display-label">Time</div>
        <div class="display-field">@Model.TimeString()</div>
        <br />
    }
    <div class="display-label">Description</div>
    <div class="display-field">@Model.PostBody</div>
    @if (Model.Files != null && Model.Files.Any())
    {
        <br />
        <div class="display-label">Attachments</div>
        foreach (var file in Model.Files)
        {
            <a href="@file.Path.Replace("~", String.Empty)">@file.FileName</a>
        }
    }
    

</fieldset>
