@model PTAData.Entities.Post

@{
    ViewBag.Title = "Delete";
    ViewBag.PreviousUrl = Request.UrlReferrer;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    @{
        var legend = Model.GetType().Name;
        legend = legend.Remove(legend.IndexOf("_"));
            }
    <legend>@legend</legend>

    <h4 class="">Title</h4>
    <p class="display-field">@Model.PostTitle</p>
    <br />
    <h4 class="display-label">Description</h4>
    <p class="display-field">@Model.PostBody</p>
    <br />
    @Html.HiddenFor(model => model.PostId)
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input class="btn btn-danger" type="submit" value="Delete" /> |
        <input hidden="hidden" name="PreviousUrl" value="@ViewBag.PreviousUrl"/>
        <a href="@ViewBag.PreviousUrl" >Back</a>
    </p>
}


