@model PTAData.Entities.CommitteeEvent

@{
}
<div class="form-group">
    @Html.LabelFor(model => model.PostTitle, "Event Title", new { @class = "col-md-12" })
    <div class="col-sm-12">
        @Html.EditorFor(model => model.PostTitle, "Text")
    </div>
</div>

@Html.EditorFor(model => model.EventDate, "DateTime")

<div class="form-group">
    <div class="col-sm-12">
        @Html.EditorFor(model => model.Location.Name, "Text")
        @Html.EditorFor(model => model.Location.Address.StreetAddress, "Text")
        @Html.EditorFor(model => model.Location.Address.City, "Text")
    </div>
</div>
<div class="form-group">
    <div class="col-xs-3 col-sm-2" style="max-width:80px">
        @Html.EditorFor(model => model.Location.Address.State, "Text")
        </div>
    <div class="col-xs-4 col-sm-3" style="max-width:150px">
        @Html.EditorFor(model => model.Location.Address.Zip, "Text")
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.PostBody, "Event Body", new { @class = "col-md-12" })
    @Html.EditorFor(model => model.PostBody, "TextArea")
</div>

@Html.HiddenFor(model => model.PostId)
@Html.HiddenFor(model => model.CommitteeId)
@*@Html.HiddenFor(model => model.Location.LocationId)*@
@Html.HiddenFor(model => model.LastModified.Date)
@Html.HiddenFor(model => model.UserModified)
@Html.HiddenFor(model => model.CreatedOn.Date)
