@model PTAData.Entities.Committee

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="form-group">
    @Html.LabelFor(model => model.CommitteeName, "Name", new { @class = "col-md-12" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.CommitteeName, "Text")
        @Html.ValidationMessageFor(model => model.CommitteeName)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description, new { @class = "col-md-12" })
    @Html.EditorFor(model => model.Description, "TextArea")
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ChairPersons, "Chairs", new { @class = "col-md-12" })
    @Html.EditorFor(model => model.ChairPersons)       
</div>
<div class="form-group">
    <div class="col-md-10">
        <input type="submit" name="Command" value="Add Committe Chair" class="btn btn-default" />
    </div>
</div>

<fieldset>
    <legend>
        @Html.LabelFor(model => model.Events)
    </legend>
    @{
        if (Model.Events != null && Model.Events.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Event Title</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int ix=0; ix<Model.Events.Count; ix++)
                    {
                        var evt = Model.Events[ix];
                        <tr>
                            @Html.HiddenFor(model => model.Events[ix].PostId)
                            <td>@evt.PostTitle</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Posts", new { id = evt.PostId }, null) |
                                @Html.ActionLink("Delete", "Delete", "Posts", new { id = evt.PostId }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
            
    }
    @*@Html.EditorFor(model => model.Events)*@
</fieldset>
<div class="form-group">
    <div class="col-md-10">
        <input type="submit" name="Command" value="Add Committe Event" class="btn btn-default" />
    </div>
</div>

<fieldset>
    <legend>
        @Html.LabelFor(model => model.Posts)
    </legend>
    @{
        if (Model.Posts != null && Model.Posts.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Post Title</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int ix = 0; ix < Model.Posts.Count; ix++)
                    {
                        var evt = Model.Posts[ix];
                        <tr>
                            @Html.HiddenFor(model => model.Posts[ix].PostId)
                            <td>@evt.PostTitle</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Posts", new { id = evt.PostId }, null) |
                                @Html.ActionLink("Delete", "Delete", "Posts", new { id = evt.PostId }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    }
</fieldset>

<div class="form-group">
    <div class="col-md-10">
        <input type="submit" name="Command" value="Add Committe Post" class="btn btn-default" />
    </div>
</div>

@*@Html.HiddenFor(model => model.CommitteeId)
@Html.HiddenFor(model => model.LastModified)
@Html.HiddenFor(model => model.UserModified)
@Html.HiddenFor(model => model.CreatedOn)*@
@Html.HiddenFor(model => model.CreatedOn.Date)
