@model PTAData.Entities.Committee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Committee</legend>

    <div class="display-label">CommitteeName</div>
    <div class="display-field">@Model.CommitteeName</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">ChairPersons</div>
    <div class="display-field">@(Model.ChairPersons == null ? "None" : Model.ChairPersons.Count.ToString())</div>

    <div class="display-label">AttachedFiles</div>
    <div class="display-field">@(Model.AttachedFiles == null ? "None" : Model.AttachedFiles.Count.ToString())</div>

    <div class="display-label">Entries</div>
    <div class="display-field">@(Model.Entries == null ? "None" : Model.Entries.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CommitteeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


