@model IEnumerable<PTAData.Entities.Committee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed">
    <tr>
        <th></th>
        <th>
            CommitteeName
        </th>
        <th>
            ChairPersons
        </th>
        <th>
            AttachedFiles
        </th>
        <th>
            Events
        </th>
        <th>
            Posts
        </th>
        <th>
            LastModified
        </th>
        <th>
            UserModified
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommitteeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommitteeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommitteeId })
        </td>
        <td>
			@item.CommitteeName
        </td>
        <td>
			@(item.ChairPersons == null ? "None" : item.ChairPersons.Count.ToString())
        </td>
        <td>
			@(item.AttachedFiles == null ? "None" : item.AttachedFiles.Count.ToString())
        </td>
        <td>
            @(item.Events == null ? "None" : item.Events.Count.ToString())
        </td>
        <td>
			@(item.Posts == null ? "None" : item.Posts.Count.ToString())
        </td>
        <td>
			@String.Format("{0:g}", item.LastModified)
        </td>
        <td>
			@item.UserModified
        </td>
    </tr>
}

</table>


