 @model PTAData.Entities.Committee

@{
    ViewBag.Title = @Model.CommitteeName;
}


<div class="divPanel notop page-content container-fluid">

    <h1>@Model.CommitteeName</h1>

    <div class="row">

        <!--Edit Sidebar Content here-->
        <div class="col-md-3">
            <h3>Description</h3>
            <p>@Model.Description</p>

            <h3>Chair Persons</h3>
            @foreach (var chair in Model.ChairPersons)
            {
                <p>
                    <address>
                        <strong>@chair.Member.Name</strong><br />
                        @if (!String.IsNullOrEmpty(chair.Member.Phone))
                        { 
                            <abbr title="Phone">P:</abbr>
                            <a href="@String.Format(" tel:+{0}", chair.Member.Phone)">@chair.Member.Phone</a><br />
                        }
                        <a href="mailto:@chair.Member.Email">@chair.Member.Email</a>
                    </address>
                </p>
            }

            @if (Model.AttachedFiles != null && Model.AttachedFiles.Any())
            {
                <h3>Files</h3>
                foreach (var file in Model.AttachedFiles)
                {
                    <a href="@file.Path.Replace("~", String.Empty)" target="_blank">@file.FileName</a><br />
                }
            }
        </div>
        <!--/End Sidebar Content -->

        <!--Edit Main Content Area here-->
        <div class="col-md-9" id="divMain">
            <br />
            <fieldset>
                <legend>Events</legend>
                <div class="panel-group" id="accordionEvents">

                    @foreach (var evnt in Model.Events)
                    {
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a style="color:white" data-toggle="collapse" data-parent="accordionEvents" href="#collapse@(evnt.PostId)">
                                    <h4 class="panel-title" style="color:white">

                                        <span>@evnt.PostTitle</span>
                                        <span class="pull-right">@evnt.EventDate.ToShortDateString()</span>
                                    </h4>
                                </a>
                            </div>

                            <div id="collapse@(evnt.PostId)" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    @{
                                        var locationName = evnt.Location != null ? evnt.Location.Name : " ";

                                        if (evnt.Location != null)
                                        {
                                            <p>

                                            <address>
                                                <span>Location: <strong>@locationName</strong></span><br />
                                                @if (evnt.Location.Address != null)
                                                {
                                                    var address = evnt.Location.Address;
                                                    if (!String.IsNullOrEmpty(address.StreetAddress))
                                                    {
                                                        <span>@address.StreetAddress</span><br />
                                                    }
                                                    if (!String.IsNullOrEmpty(address.City))
                                                    {
                                                        <span>@address.City, @address.State  @address.Zip</span>                                                                                                            
                                                    }
                                                }
                                            </address>
                                            </p>
                                        }
                                    }
                                    <p>Time: @evnt.EventDate.ToShortTimeString()</p>

                                    <p>@evnt.PostBody</p>

                                    @if (evnt.Files != null && evnt.Files.Any())
                                    {
                                        <br />
                                        <div class="display-label">Attachments</div>
                                        foreach (var file in evnt.Files)
                                        {
                                            <a href="@file.Path.Replace("~", String.Empty)">@file.FileName</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </fieldset>

            <br />
            <fieldset>
                <legend>Posts</legend>
                <div class="panel-group" id="accordionPosts">

                    @foreach (var post in Model.Posts)
                    {
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a style="color:white" data-toggle="collapse" data-parent="accordionPosts" href="#collapse@(post.PostId)">
                                    <h4 style="color:white" class="panel-title">
                                        @post.PostTitle
                                    </h4>
                                </a>
                            </div>

                            <div id="collapse@(post.PostId)" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>@post.PostBody</p>

                                    @if (post.Files != null && post.Files.Any())
                                    {
                                        <br />
                                        <div class="display-label">Attachments</div>
                                        foreach (var file in post.Files)
                                        {
                                            <a href="@file.Path.Replace("~", String.Empty)">@file.FileName</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </fieldset>

        </div>

        <!--/End Main Content Area here-->


    </div>

    <div id="footerInnerSeparator"></div>
</div>
