 @model PTAData.Entities.Committee

@{
    ViewBag.Title = @Model.CommitteeName;
}


<div class="divPanel notop page-content container-fluid">

    <h1>@Model.CommitteeName</h1>

    <div class="row">

        <!--Edit Sidebar Content here-->
        <div class="col-md-3">
            <h3>Description</h3>
            <p>@Model.Description</p>

            <h3>Chair Persons</h3>
            @foreach (var chair in Model.ChairPersons)
            {
                <p>
                    <address>
                        <strong>@chair.Member.Name</strong><br />
                        @if (!String.IsNullOrEmpty(chair.Member.Phone))
                        { 
                            <abbr title="Phone">P:</abbr>
                            <a href="@String.Format(" tel:+{0}", chair.Member.Phone)">@chair.Member.Phone</a><br />
                        }
                        <a href="mailto:@chair.Member.Email">@chair.Member.Email</a>
                    </address>
                </p>
            }

            @if (Model.AttachedFiles != null && Model.AttachedFiles.Any())
            {
                <h3>Files</h3>
                foreach (var file in Model.AttachedFiles)
                {
                    <a href="@file.Path.Replace("~", String.Empty)" target="_blank">@file.FileName</a><br />
                }
            }
        </div>
        <!--/End Sidebar Content -->

        <!--Edit Main Content Area here-->
        <div class="col-md-9" id="divMain">
            
                
                @Html.Partial(
                    "_EventPanelGroupPartial", 
                    new HickoryPTAApp.Models.EventPanelGroupModel() 
                    { 
                        GroupTitle = "Upcoming Events", 
                        Events = Model.UpcomingEvents()
                    })

                @Html.Partial(
                    "_PostPanelGroupPartial",
                    new HickoryPTAApp.Models.PostPanelGroupModel()
                    {
                        GroupTitle = "Posts",
                        Posts = Model.Posts
                    })

                @Html.Partial(
                    "_EventPanelGroupPartial",
                    new HickoryPTAApp.Models.EventPanelGroupModel()
                    {
                        GroupTitle = "Past Events",
                        Events = Model.PastEvents()
                    })            
            
        </div>
        <!--/End Main Content Area here-->

    </div>

    <div id="footerInnerSeparator"></div>
</div>
