@model PTAData.Entities.CommitteePost

@{
}
<div class="form-group">
    @Html.LabelFor(model => model.PostTitle, "Post Title",  new { @class = "col-md-12" })
    <div class="col-sm-12">
        @Html.EditorFor(model => model.PostTitle, "Text")
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.PostBody, "Post Body", new { @class = "col-md-12" })
    @Html.EditorFor(model => model.PostBody, "TextArea");
</div>

@Html.HiddenFor(model => model.PostId)
@Html.HiddenFor(model => model.LastModified)
@Html.HiddenFor(model => model.UserModified)
@Html.HiddenFor(model => model.CreatedOn)